
mixin component(_docName, isMainNav)
  - if(typeof isMainNav == 'undefined'){isMainNav = true} // 默认将component的list加到主导航
  - docName = _docName
  - names = bp.getNames(docName)
  block
  if isMainNav
    +main-nav(names.listTemplateName)

mixin list(titles, attrs)
  - attrs = attrs ? attrs : titles
  +template(docName, names.listTemplateName, 'list')
    +table(names.mongoCollectionName, titles, attrs)

mixin detail()
  +template(docName, names.detailTemplateName, 'detail')
    +form(names.detailDataRetrieverName)
      block
