/* CSS declarations go here */@CHARSET "UTF-8";

body {background-image:url(/i/bg.jpg);}
  
h1,h2,h3 {
  font-family: 'Segoe UI','Helvetica Neue',Helvetica,Tahoma,Arial,Verdana,Sans-serif;
  color: rgb(127, 160, 24);
}
h2,h3 {color:rgb(172, 26, 55)}
.green{color:rgb(101, 146, 6)}

#body {
  width:1000px;
  padding:0 0 0 0;
  margin:0 auto 0 auto;
}
#extra {display:none;}
#adminpane, #page {
  margin-left:10px;margin-right:10px;
  position:relative;
}

.artcl, .bg {
  width:920px; 
  padding:20px 20px 20px 35px;
  position:relative;
  background-color: rgb(250, 248, 244);
}

.artcl {
  overflow:hidden;
  background-color: rgb(250, 248, 244);
  z-index:1;
  margin-bottom:15px;
  padding-bottom:30px;
}

#page ul, #footer ul {
  list-style: none;
  margin-bottom:0.2em;
}

#page li, #footer li {
  background: url("/i/listorangebig.gif") no-repeat;
  margin-left: 0;
  padding-left: 16px;
  background-position: left 0.35em;
  line-height:1.35em;
  
}

#page li {margin-bottom:0.4em;}

.artcl code, .artcl pre {
  font-size:10.7pt; 
  line-height:1.3em; 
  font-family:"Lucida Console", "Courier New", Monaco, Courier;
  color: #457;
}

.artcl code {font-size:89.2%}

.artcl pre {margin-bottom:0.7em}
.artcl pre hr {
  height:1px; 
  border:none; 
  border-top: 1px dotted #a98; 
  margin:0.8em 0 -0.5em 0;
}

.pane {width:230px; }
.artcl .pane>* {opacity:0.8}
.pane h3 {font-size:120%}

#page h1, #page h2, #page h3, #page h4, .inset, option[selected=selected]{
  text-shadow:1px 1px 0px rgba(255,255,255,0.7);
}
.artcl .content h3:nth-of-type(n+2), .artcl .content p+h3 {margin: 1em 0 0.4em 0!important}
.artcl .content {width:600px}
.artcl .ml22 {margin-left:22px}
.artcl .mbt12 {margin-bottom:12px; margin-top:12px}
.artcl .content pre em {color:#999; }
.artcl .content .dotted {margin-right:30px;}

.artcl .lead {font-size:119%; line-height:1.4em; margin-left:0;}

.dotted {
  padding:15px;
  background-color:#fff;
  box-shadow:1px 2px 8px rgba(82, 65, 57, 0.06);
  -webkit-transition:height 0.5s;
}

.dotted input[type=button] {z-index:50}

.final-form {position:relative;}
.source_code {position:relative;}

.artcl h3.ref {
  border-top: 1px dashed #987;
  padding-top:0.7em;
  width:570px;
  font-size: 24px;
  
  }
.artcl h3.ref small, .artcl h1.ref small {
  font-size: 13pt;
  color:#654; 
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Tahoma;
  font-weight: normal;
  margin-left:20px;
}

.artcl .flash {
  text-shadow: 0px 0px 6px #9cf;
  -moz-text-shadow:0px 0px 6px #9cf;
  -webkit-text-shadow: 0px 0px 6px #9cf;
  -o-text-shadow: 0px 0px 6px #9cf;
  -ms-text-shadow: 0px 0px 6px #9cf;
  color:#56a;
  -webkit-transition: color 2s, text-shadow 2s;
  -moz-transition: color 2s, text-shadow 2s;
  -o-transition: color 2s, text-shadow 2s;
}

/* header */

#header {
  position:relative;
  margin:18px 10px 24px 10px;
  padding:0 5px 0 5px;
}

#header h1 {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  font-size: 33pt;
  margin: 0 0 -5px 0;
  letter-spacing: -1px;
  color:#3D3732;
}
#header .tagline {
  font-size:16pt;
  text-shadow:1px 1px 0px rgba(255,255,255,0.2);
}

#header #nav {vertical-align:middle; font-size:18px;}

#header #nav a {color:white;}
#header #nav .current {opacity: 1;color: #F8EDA0; }
#header #nav a:hover {color:#fe7;   opacity:1;}

#header #nav li {
  float: left;
  padding: 5px 13px 0px 0px;
  list-style: none;
  font-size: 110%;
  white-space: nowrap;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
}
#header #nav ul {width:100%; line-height:1.3em; 
}




/* FOOTER */

.footer {margin:0 10px 10px 10px;}

#footer {overflow:hidden}


/* PLUGINS */
.tagstrip {position:relative; padding: 0.5em 0 0.7em 0;clear:both;}
  .tagstrip.input {padding: 0.3em 0 0.4em 0;}
  .tagstrip .label {width:100px; display:block; float:left;}
    .tagstrip.input .label {margin-top:10px}
  .tagstrip .variants {display:inline-block; font-size:1.1em;} 
  .tagstrip .variants .tag {
    padding:2px 4px 4px 4px; 
    white-space:nowrap;
  }
  .tagstrip .variants .tag.active {
    background-color:#ddd;
    color:#333; 
    text-decoration:none; 
    cursor:default; 
    border-radius:2px;
  }
  .tagstrip .variants .tag.active:hover { color:#333;}
  .tagstrip .variants input.value {margin:0}
  .tagstrip input {font-size:1.25em;margin:0;}
  
.tip {color:#4378af; border-bottom: 1px dotted #6a9cd1;cursor:pointer;}
.tip:hover {color:#f76500; border-bottom: 1px dotted #f76500;}
.tooltip {
  width:300px;
  display:none;
  background:#fffbe0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border:1px solid #f9f0c3;
  padding:10px 10px 14px 12px;
  box-shadow: 1px 1px 12px #aaa;
  -moz-box-shadow:1px 1px 12px #aaa;
  -webkit-box-shadow: 1px 1px 12px #aaa;
  font-size:95%;
  line-height:120%;
  font-family:'Segoe UI','Helvetica Neue',Helvetica,Tahoma,Arial,Verdana,Sans-serif;
  z-index:15000;
}

.my-error-tip {font-size:90%; color:rgba(204,0,32,0.7); padding:4px 0 0px 70px}
      .my-error input:not([type=radio]):not([type=checkbox]),.my-error textarea{border:1px solid #d78!important; color:rgba(204,0,32,0.7)!important}
      .my-error input:not([type=radio]):not([type=checkbox]):focus,.my-error textarea:focus {box-shadow: 0px 0px 6px rgba(204,0,32,0.4);}
      .my-error .variants .tag.active {background-color:#fdd; color:rgba(204,0,32,0.7) }
      .my-error .label,  .my-error label, .my-error {color:rgba(204,0,32,0.7)!important}

#txt {height:400px}


/* RANGE */
input[type="range"] {
    -webkit-appearance: none;
    border-radius:3px;
    height: 9px;
    box-shadow: 1px 1px 5px rgba(40, 20, 0, 0.15) inset;
  border: 1px solid rgba(167, 155, 133, 0.3);
  border-bottom-color: rgba(207, 193, 181, 0.3);
  border-right-color: rgba(207, 193, 181, 0.3);
  background-image: url(/i/bgartcl.jpg);
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
    width: 20px;
    height: 20px;
    box-shadow: 3px 5px 8px rgba(40, 20, 0, 0.05), 1px 1px 3px rgba(40, 20, 0, 0.12);
  border: 1px solid rgba(167, 155, 133, 0.6);
  border-top-color: rgba(167, 155, 133, 0.2);
  border-left-color: rgba(167, 155, 133, 0.2);
    border-radius: 6px;
    background-image: url(/i/bgartcl.jpg);
}

.my-error input[type="range"]::-webkit-slider-thumb{
  border: 1px solid rgba(243, 129, 129, 0.9);
  box-shadow: 1px 1px 5px rgba(255, 158, 158, 0.5), 3px 5px 8px rgba(40, 20, 0, 0.05);
  
}

.ui-state-default.ui-slider-handle {
  border: 1px solid #bbb; 
  background: #e6e6e6 url(/css/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
  font-weight: normal; color: #212121; border-radius:5px 
}
.ui-state-hover.ui-slider-handle {
  border: 1px solid #999; 
  background: #CAD9A5 url(/css/smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
  font-weight: normal; color: #212121; border-radius:5px 
}

.ui-slider-horizontal {
  box-shadow: 1px 1px 5px rgba(40, 20, 0, 0.15) inset;
  border: 1px solid rgba(167, 155, 133, 0.3);
  border-bottom-color: rgba(207, 193, 181, 0.3);
  border-right-color: rgba(207, 193, 181, 0.3);
  background-image: url(/i/bgartcl.jpg); 
}

.ui-slider-horizontal.ui-state-error {
  border: 1px solid rgba(243, 129, 129, 0.9);
  box-shadow: 1px 1px 5px rgba(255, 158, 158, 0.7) inset;
  background-image:none;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
opacity: .7;
filter: Alpha(Opacity=70);
}

/* ------------------ Selectmenu ----------------------------------*/

.ui-selectmenu { display: block; position:relative; height:2em; text-decoration: none; overflow:hidden;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }



/* ------------------CLeditor ------------------ */

.cleditorMain {border:1px solid #999; padding:0 1px 1px; background-color:white; border-radius:3px}
.my-error .cleditorMain, .cleditorMain.my-error {border:1px solid #d78!important; color:rgba(204,0,32,0.7)!important}
.cleditorMain iframe {border:none; margin:0; padding:0}
.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; resize:none; outline:none /* webkit grip focus */}
.cleditorToolbar {background: url('/cleditor/toolbar.gif') repeat}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('/cleditor/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; position:absolute; cursor:default; z-index:10000; border-radius:3px}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
.cleditorPrompt input,
.cleditorPrompt textarea {font-size:10pt;}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:10pt; border-radius:3px}
