//- ---------- 辅助常数与函数 -----------------------------------------------
- FORM_SPAN = 12 // 默认表单分为12栏布局
- Field_SPAN = FORM_SPAN / 4 // 域宽默认为每行4个

- FULL_ROW = 12
- HALF_ROW = FULL_ROW / 2

- P = {} // Parsely 校验属性 
- P.type = function(t){ return "parsley-type='" + t + "' "; }
- P.trigger = function(event){ return "parsley-trigger='" + event + "' "; }
- P.notblank = function(){ return "parsley-notblank='true' "; }
- P.minlength = function(min){ return "parsley-minlength='" + min + "' "; }
- P.maxlength = function(max){ return "parsley-maxlength='" + max + "' "; } 
- P.dateIso = function(){ return "parsley-type='dateIso'"; } 

- A = {} // auto-insert 表达式计算器
- A.currentUserName = function(){return 'Meteor.user().profile.fullname'}
- A.docId = function(docName){return "this.view.dataManager.doc." + docName + "Id || BP.AbstractDataManager._state.get('" + docName + "')._id"}