//-# 生成Meteor所需要的template （Handlebars）
mixin template(docName, templateName, templateType)
  - topView = bp.getView(docName, templateName, templateName, templateType); 
  - topView.cited = cited
  - if(attributes.query && templateType == 'list'){topView.query = attributes.query} //doc: 只有列表才需要query，详情都是针对一个，不用query. 这里的筛选用于用户体验，业务逻辑的删选在工作流程定义、用户权限定义里，并通过Meteor Method来实施。
  - references = [];
  template(name=templateName)
    block
  - console.log("************* generated template: " + templateName + " ***********")

mixin main-nav(templateNames)
  - bp.setMainNav(templateNames)
  - bp.saveView()
