//-# 
mixin template(docName, templateName, templateType)
  - console.log("************* 1 ***********")
  - topView = bp.getView(docName, templateName, templateName, templateType); 
  - topView.cited = cited
  - if(attributes.query && templateType == 'list'){topView.query = attributes.query} //doc: 只有列表才需要query，详情都是针对一个，不用query. 这里的筛选用于用户体验，业务逻辑的删选在工作流程定义、用户权限定义里，并通过Meteor Method来实施。
  - references = [];
  - console.log("************* 2 ***********: ")
  template(name=templateName)
    block
    each ref in references
      +_reference(topView, ref)
    - console.log("************* 3 ***********")




mixin _reference(topView, ref)
  - console.log("call reference, ref: ", ref)
  - currentViewName = 'ref-' + ref.referredViewName
  - topView.addReferredView(currentViewName, ref)
  //- | {{bp-load-view '#{currentViewName}'}}
  .reference(bp-view-name=currentViewName)
    | {{> #{ref.referredViewName}}}

mixin main-nav(templateNames)
  - bp.setMainNav(templateNames)
  - bp.saveView()
