//- 此处定义所有的BP控件，在BP平台上的应用，需要用这些Mixin来定义界面
  1、这些控件接入了BP的权限检查和validation
  2、用于创建和修改的表单
  注意：这里的逻辑正确性、数据合法性控制很松，因为，这些代码是开发者在开发时使用的，不是用户使用的

//- bp的表单，常用于详情（修改、添加）
include _form

//- bp的控件
include fields/_fields

//- bp的表格，常用于列表（删除、（去）添加、（去）修改）
include _table

//- bp的template, 包装了Meteor的template，可以添加reference
include _template

//- bp的component，进一步封装了form和table
include _component

//- bp的template系统
//- include _template 




