//-# ### Component是BP数据（collection）展示和操作的基本单位。

//-# Component包括list和detail两种视图（view）
//-# 1. list上用户可以进行go-create、go-update和delete操作，
//-# 2. detail上用户可以提交（submit）和delete，还可以浏览“上一条”、“下一条”

mixin component(_docName, isMainNav)
  - if(typeof isMainNav == 'undefined'){isMainNav = true} // 默认将component的list加到主导航
  - docName = _docName
  - componentName = attributes.name || 'default' // 一个doc有一个必须实现的默认component，包括一个list和一个detaill，还可以任意多个其它component
  - names = bp.getNames(docName, componentName)
  - cited = attributes.cited
  - console.log("********************** names: ", names)
  - console.log('component: ' + componentName + ', isMainNav: ' + isMainNav) 
  block
  if isMainNav
    - bp.setMainNav(names.listTemplateName)
  - bp.saveView()


mixin list(titles, attrs)
  - attrs = attrs || titles // 可以只给属性名（attrs），此时就用属性名作为标题
  - titles = titles
  +register-bp-view(viewName)
    +template(docName, componentName, viewName = names.listTemplateName, 'list')
      .bp-list(bp-view-name=viewName)
        +table(names.listDataRetrieverName, titles, attrs)
          block 


mixin detail()
  +register-bp-view(viewName)
    +template(docName, componentName, viewName = names.detailTemplateName, 'detail')
      .bp-detail(bp-view-name=viewName)
        +form(names.detailDataRetrieverName)
          block


mixin register-bp-view(templateName)
  - var bufferStart = buf.length
  block
  - var templateStr = buf.slice(bufferStart, buf.length - 1).join("")
  - bp.registerTemplate(templateName, templateStr)
  //- - bp.showTemplate(templateStr)  
