include relation

//-# ### Component是BP数据（collection）展示和操作的基本单位。

//-# Component包括list和detail两种视图（view）
//-# 1. list上用户可以进行go-create、go-update和delete操作，
//-# 2. detail上用户可以提交（submit）和delete，还可以浏览“上一条”、“下一条”
mixin component(_docName, isMainNav)
  - if(typeof isMainNav == 'undefined'){isMainNav = true} // 默认将component的list加到主导航
  - docName = _docName
  - namespace = attributes.name || 'default' // 一个doc有一个必须实现的默认component，包括一个list和一个detaill，还可以任意多个其它component
  - names = bp.getNames(namespace, docName)
  - bp.addComponent(namespace, docName, isMainNav, className)

  block
  - bp.saveComponent()


mixin list(titles, attrs)
  - attrs = attrs || titles // 可以只给属性名（attrs），此时就用属性名作为标题
  - titles = titles
  +register-bp-view(viewName)
    +template(docName, namespace, viewName = names.listTemplateName, 'list')
      .bp-list(bp-view-name=viewName)
        +table(names.listDataRetrieverName, titles, attrs)
          +alter-list()
            block

mixin alter-list()
  each relation in bp.getRelations(docName)
    - var currentEnd = relation.getCurrentEnd(docName)
    if relation.type == 'composition' && currentEnd.type == 'end'
      //- 一旦本doc从属于某个doc，也就是为某个composite relation中的endPoint.docName时，不能直接创建本doc
      +remove-create-link()
    +add-go-create-or-go-update(relation) 
  block

mixin detail()
  +register-bp-view(viewName)
    +template(docName, namespace, viewName = names.detailTemplateName, 'detail')
      .bp-detail(bp-view-name=viewName)
          +form(names.detailDataRetrieverName)
            block
            +alter-detail()

mixin alter-detail()
  - var relations = bp.getRelations(docName)
  +add-relations-fields(relations) 

mixin register-bp-view(templateName)
  - var bufferStart = buf.length
  block
  - var templateStr = buf.slice(bufferStart, buf.length - 1).join("")
  - bp.registerTemplate(templateName, templateStr)
  //- - bp.showTemplate(templateStr)  


