mixin page(namespace, pageName)
  - if(typeof pageName == 'undefined'){pageName = namespace, namespace = 'default'} // namespace 缺省为default
  - page = bp.addPage(namespace, pageName, !!attributes.isMainNav)
  template(name=page.templateName)
    block
  - bp.savePage()

mixin view(namespace, docName, viewName, faceName)
  - if(typeof faceName == 'undefined'){faceName = viewName, viewName = docName, docName = namespace, namespace = 'default'} // namespace 缺省为default
  - query = attributes.query || {}
  - page.addView(namespace, docName, viewName, faceName, query)
  - viewTemplateName = bp.getViewTemplateName(namespace, docName, viewName)
  | {{> #{viewTemplateName}}}
  br
