mixin page(namespace, pageName)
  - if(typeof pageName == 'undefined'){pageName = namespace, namespace = 'default'} // namespace 缺省为default
  - page = bp.addPage(namespace, pageName, !!attributes.isMainNav)
  template(name=page.templateName)
    block
  //- - bp.savePage()

mixin view(namespace, _docName, viewName, faceName)
  - viewNamespace = namespace
  - docName = _docName
  - if(typeof faceName == 'undefined'){faceName = viewName, viewName = docName, docName = viewNamespace, viewNamespace = 'default'} // viewNamespace 缺省为default
  - query = attributes.query || {}
  - page.addView(viewNamespace, docName, viewName, faceName, query)
  - viewTemplateName = bp.getViewTemplateName(viewNamespace, docName, viewName)
  - bp.initVariables(viewNamespace, docName)
  block
  | {{> #{viewTemplateName}}}
  br

mixin add-view-item-link(label, pageNamespace, page)
  - var guard = attributes.guard || true
  - var icon = attributes.icon || 'go'
  - link = {label: label, namespace: pageNamespace, page: page, currentDocName: docName, guard: guard, icon: icon, isPageLink: true}
  - bp.addItemLink(viewNamespace, docName, link)
  //- - console.log("in add-view-item-link, namespace is: ", namespace)
