include table

mixin page(namespace, pageName)
  - if(typeof pageName == 'undefined'){pageName = namespace, namespace = 'default'} // namespace 缺省为default
  //- - console.log('----------- page attributes: ', attributes)
  - var pageConfig = {namespace: namespace, name: pageName, mainNav: attributes.mainNav, showListRelations: attributes.showListRelations, showDetailRelations: attributes.showDetailRelations}
  //- - attributes.namespace = namespace, attributes.name = pageName
  - page = bp.addPage(pageConfig)
  template(name=page.templateName)
    block
  //- - bp.savePage()

mixin view(namespace, _docName, viewName, faceName)
  - viewNamespace = namespace
  - docName = _docName
  - if(typeof faceName == 'undefined'){faceName = viewName, viewName = docName, docName = viewNamespace, viewNamespace = 'default'} // viewNamespace 缺省为default
  - query = attributes.query
  - page.addView(viewNamespace, docName, viewName, faceName, query)
  - viewTemplateName = bp.getViewTemplateName(viewNamespace, docName, viewName)
  - bp.initVariables(viewNamespace, docName)
  block
  | {{> #{viewTemplateName}}}
  br

mixin add-view-item-link(label, pageNamespace, pageName)
  - var guard = attributes.guard || true
  - var icon = attributes.icon || 'go'
  - link = {label: label, namespace: pageNamespace, pageName: pageName, currentDocName: docName, guard: guard, icon: icon, isPageLink: true, formPage: page}
  //- - console.log("in add-view-item-link, viewNamespace is: ", viewNamespace)
  - bp.addItemLink(viewNamespace, docName, link)

mixin hide-item-link(action, docName)
  +remove-link(action, viewNamespace, docName, attributes.role)

  