include table
include form
include fields/fields

mixin relation(from, relationDescription, to)
  - namespace = namespace || (attributes.namespace || 'default')
  - type = attributes.type || 'aggregation'
  - bp.addRelation(namespace, from, relationDescription, to, attributes.type)

mixin remove-create-link()
  +remove-link('go-create')

mixin add-go-create-or-go-update(docName, relation)
  - var currentEnd = relation.getCurrentEnd(docName)
  - var oppositeEnd = relation.getOppositeEnd(docName)
  if currentEnd.canCreateOtherSide
    +add-go-create-relation-data-link(docName, relation)
  if oppositeEnd.multiplicity == '1'
    +add-go-update-relation-data-link(docName, relation)
  else
    +add-go-update-relation-data-links(docName, relation)

mixin add-go-create-relation-data-link(docName, relation)
  - var goCreateLink = relation.getLinkByAction('go-create', docName)
  +add-item-link(goCreateLink)

mixin add-go-update-relation-data-link(docName, relation)
  - var goUpdateLink = relation.getLinkByAction('go-update', docName) // 改为直接用relation.getLinkByAction
  +add-item-link(goUpdateLink)

mixin add-go-update-relation-data-links(docName, relation)
  - var goUpdateLink = relation.getLinkByAction('go-update', docName)
  +add-item-links(goUpdateLink)

mixin add-relations-fields(docName, relations)
  +fieldset('关联关系')
    each relation in relations
      //- - console.log("******** relation is: ", relation)
      if relation.type == 'composition' 
        +add-composition-relation-field(docName, relation)
    //-   else
    //-     +add-aggregation-relation-field(docName, relation)

mixin add-composition-relation-field(docName, relation)
  //- composition时，start一端的多重性一定是1
  - currentEnd = relation.getCurrentEnd(docName)
  - oppositeEnd = relation.getOppositeEnd(docName)
  - goCreateLink = relation.getLinkByAction('go-create', currentEnd)
  - goUpdateLink = relation.getLinkByAction('go-update', currentEnd)
  if currentEnd.type == 'end'
    +if-else-face('create')
      +auto-insert(oppositeEnd.docName + 'Id', A.docId(oppositeEnd.docName))
    +else()
      +show-related-data-with-text-link(relation)
  else 
    +if-else-face('create')
      //- 啥也不显示，span在这里只是为了满足jade的语法要求
      span 
    +else()
      if oppositeEnd.multiplicity == 1
        +add-go-create-or-go-update-text-link(docName, relation)
      else
        +add-go-create-and-go-update-text-links(docName, relation)

mixin show-related-data-with-text-link(relation)
  - attributes = Object.merge({isLink: true}, goUpdateLink)
  +ref-text(oppositeEnd.showName, oppositeEnd.showAttr)(attributes)

mixin add-go-create-or-go-update-text-link(docName, relation)
  +add-additional-links([goCreateLink])
    | #{oppositeEnd.showName}
  +add-additional-links([goUpdateLink])
    | {{bs '#{oppositeEnd.docName + '.' + oppositeEnd.showAttr}'}}

mixin add-go-create-and-go-update-text-links(docName, relation)
  +add-additional-links([goCreateLink])
    | #{oppositeEnd.showName}
  +add-addtional-multiple-links([goUpdateLink])(showAttr=oppositeEnd.showAttr)

mixin add-aggregation-relation-field(docName, relation)
  span 'NO IMPLEMENTED YET.'