include commons
include texts

//-# 各种普通专用域，很多都有HMTL5的专用type 
mixin __control(type, label, attr)
  - addCondition(attributes, P.type(type))
  - var label = label ? label : type // control类型可以不给label、attr，默认都为其type
  +text(label, attr)(attributes)

mixin email(label, attr)
  +__control('email', label, attr)(attributes)

mixin number(label, attr)
  +__control('number', label, attr)(attributes)


//- ------ 待实现 ------
  password #用Parsley的Equal To
  tel # Parsley的Phone
  url
  min-number
  max-number
  range
  digit
  color
  date date-picker
  datetime
  datetime-local
  month
  time
  week
