head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='/lib/parsley.messages.zh_cn.js')
  script(src='/lib/parsley.js')
  script(src='/lib/typeahead.js')
  script(src='/lib/select2/select2.js')
  script(src='/lib/wysihtml5/advanced.js')
  script(src='/lib/wysihtml5/wysihtml5-0.4.0pre.js')
  //- link(rel='stylesheet', href='/lib/wysihtml5/wysihtml5.css')

template(name='layout')
  .container
    header
      | {{> bp-main-nav}}
    aside.left-sidebar
      | {{> bp-second-nav}}
    article.main-content
      | {{yield}}      
    aside.right-sidebar
    footer

template(name='bp-banner')
  i.fa.fa-camera-retro fa-camera-retro
  a(href='/') BP Banner

template(name='bp-main-nav')
  div.main-nav
    ul
      li
        | {{> bp-banner}}
      | {{#each main-nav-paths}}
      li
        a(href="{{pathFor this.path}}") {{this.name}}
      | {{/each}}
      li.pull-right
        {{loginButtons}}


template(name='bp-second-nav')
  | 2nd Nav


template(name='splash')
  #splash
    .logo B+ Plus
    .slug 敏捷 • 超乎你的想象

template(name='not-found')
  .warning
    | 亲，没找到哦。。。

template(name='loading')
  #loading
