template(name='bp-banner')
  i.fa.fa-camera-retro fa-camera-retro
  a(href='/') BP Banner

template(name='bp-main-nav')
  | {{#each subscribed}}
  a(href="{{pathFor this}}") {{this}}
  | {{/each}}


template(name='bp-second-nav')
  | 2nd Nav