template(name='twice')
  | {{> once}}
  //- | {{change-view}}
  //- .twice
  //-   | {{> once}}

template(name='once')
  .once
    {{#with homework}}
    h3 name: {{name}}, value: {{value}}
    {{/with}}

    {{#with assignment}}
    h3 name: {{name}}, value: {{value}}
    {{/with}}    