template(name='twice')
  | {{> once}}
  //- | {{change-view}}
  //- .twice
  //-   | {{> once}}

template(name='once')
  .once
    {{#each homeworks}}
    h3 name: {{name}}, value: {{value}}
      {{#with assignment}}
      h3 name: {{name}}, value: {{value}}
      {{/with}}    
    {{/each}}
