include ../../.jade/bp-mixins
template(name='assignments-list')
  +table('assignments', ['题目', '要求', '截止时间'], ['title', 'requirement', 'deadline'])

template(name='assignment')
  +form('assignments', 'assignment')
    //- 这些表单控件都是 label，attr，options的参数结构
    +text('题目', 'title')
    //- +text('要求', 'requirement')
    +no-blank-text('要求', 'requirement')
    //- +text('中文内容', '中文内容')
    +min-text('中文内容', '中文内容', 6)
    +text('截止时间', 'deadline')
    +text('发布时间', 'createdAtTime')
    +number('截止时间', 'deadline', 'required')
    +email('email', false) 
    +ahead('ahead', 'ahead', ['中国', '美国', '日本'])