template(name='assign-homework')
  {{> assignments}}
  - addLinkButton(buttonName, pathFunction)

//- template分为single和composite，single对应一个数据集，有自己的state。composite由single或者composite组成，没有自己的状态。
template(name='do-homework')
  h1 作业要求
  | {{> assignment}}
  hr
  h1 写作业
  | {{> test}}
