include ../bp/jade-templates/bp-mixins

+component('assignment')
  +list(['题目', '要求', '截止时间'])

  +detail()
    +fieldset('作业要求')
      +row()
        +no-blank-text('题目')(span=HALF_ROW)
        +datetime('截止时间')
        +ahead('学生')(candidates=['沈少伟', '陈伟津', '陈杰文', '林臻南', '曾灏'])
      +row()
        +html('要求')(span=FULL_ROW)