head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='lib/parsley.messages.zh_cn.js')
  script(src='lib/parsley.js')
  script(src='lib/typeahead.js')
  //- link(href='stylesheets/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
body
  .container
    //- h1#header {{greeting}} 
    header 112
    .left-sidebar 223
    .main-content
      //- | {{> splash}}
      | {{> assignment}}      
    .right-sidebar
    footer
