head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='/lib/parsley.messages.zh_cn.js')
  script(src='/lib/parsley.js')
  script(src='/lib/typeahead.js')
  script(src='/lib/select2/select2.js')
  script(src='/lib/wysihtml5/advanced.js')
  script(src='/lib/wysihtml5/wysihtml5-0.4.0pre.js')
  script(src='/lib/tooltipster/jquery.tooltipster.js')
  //- link(rel='stylesheet', href='/lib/wysihtml5/wysihtml5.css')

template(name='layout')
  .container
    header.ui.menu.main-nav
      | {{> bp-main-nav}}
    aside.ui.vertical.sidebar.menu
      | {{> bp-second-nav}}
    article.main-content
      | {{yield}}      
    aside.right-sidebar
    footer

template(name='bp-banner')
  //- i.fa.fa-camera-retro fa-camera-retro
  a.item(href='/') 
    i.home.icon
    | BP Banner

template(name='bp-main-nav')
  a.launch-second-nav.item
    i.icon.list.layout
  | {{> bp-banner}}
  | {{#each main-nav-paths}}
  a.item(href="{{pathFor this.path}}") {{this.name}}
  | {{/each}}
  .right.menu
    .item
      | {{loginButtons}}


template(name='bp-second-nav')
  | {{#each second-nav-paths}}
  a.item(href="{{pathFor this.path}}") {{this.name}}
  | {{/each}}



template(name='splash')
  #splash
    .logo B+ Plus
    .slug 敏捷 • 超乎你的想象

template(name='not-found')
  .warning
    | 亲，没找到哦。。。

template(name='loading')
  #loading
